<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#parse("head.vm")

<link href="$req.getContextPath()/css/build_common.css" rel="stylesheet" title="Dashboard style sheet" type="text/css"/>
<link href="$req.getContextPath()/css/build_detail_summary.css" rel="stylesheet" title="Dashboard style sheet" type="text/css"/>
<link href="$req.getContextPath()/css/build_detail.css" rel="stylesheet" title="Dashboard style sheet" type="text/css"/>

#if ($status.toLowerCase() == 'passed' || $status.toLowerCase() == 'failed')
<title>Project $build.build.getProjectName() - Build $build.build.getBuildDate()</title>
#set($projectName=$build.build.getProjectName())
#else
#set($building_status = $status.toLowerCase())
#set($status = "Building")
<title>Project $projectName - $building_status</title>
#end
</head>
<body>
	<div id="doc3" class="yui-t7">
		   #parse('menu_build_detail.vm')
		   <div id="bd">
			    <div class="yui-ge">
			    	<div class="yui-u first">
					    <div class="maincol build_detail">
							#parse("build${status}Detail.vm")
					    </div>
				    </div>
			    	<div class="yui-u">
						#parse("summarySidecolumn.vm")
			        </div>
				</div>
		    </div>
	</div>
</body>
</html>