<div id="modifications" class="modifications" $modification_extra_attrs>
    <h2>Modifications</h2>
    <ul class="modifications">
        #if ($commitMessages.size() > 0)
			#foreach($commitMessage in $commitMessages)
    	        <li class="modification">
					<span class="user">$commitMessage.user</span><br/>
        	        <span class="comment">$commitMessage.comment</span>
	            </li>
			#end
		#else 
			<h2>$flash_message</h2>
		#end
    </ul>
</div>