<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    #parse("partial/partial_head.vm")
    <link href="$req.getContextPath()/css/mbean_console.css" rel="stylesheet" title="Dashboard style sheet" type="text/css"/>
    <title>JMX Console for $projectName</title>
</head>
<body>
    <div id="doc3" class="yui-t7">
        #parse('menu/menu_admin.vm')
       <div id="bd">
          <div id="console_title">JMX Console for $projectName</div>
          <div id="console_container"><iframe id="console" src ="http://$serverName:$port/$context"></iframe></div>
       </div>
    </div>
</body>
</html>