<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    #parse("partial/partial_head.vm")
<link href="$req.getContextPath()/css/build_common.css" rel="stylesheet" title="Dashboard style sheet" type="text/css"/>
<link href="$req.getContextPath()/css/build_detail_summary.css" rel="stylesheet" title="Dashboard style sheet" type="text/css"/>
<link href="$req.getContextPath()/css/build_detail.css" rel="stylesheet" title="Dashboard style sheet" type="text/css"/>
<link href="$req.getContextPath()/css/build_profile.css" rel="stylesheet" title="Dashboard style sheet" type="text/css"/>

</head>
<body>
    <div id="doc3" class="yui-t7 allBuilds">
           #parse('menu/menu_builds.vm')
           <div id="bd">
                <div class="yui-ge">
                    <div class="yui-u first">
                  <div class="buildlist_header"><h1>$projectName</h1> &mdash; All builds</div>
                  <div id="container">
                     #foreach( $build in $buildSummaries )
                         <div class="$build.build.status.toLowerCase() build_profile">
                             <a href="$req.getContextPath()/build/detail/$projectName/$build.build.buildLogFilename">$build.build.name $!build.build.label</a>
                        <a href="$req.getContextPath()/build/download/log/$projectName/$build.build.buildLogFilename">Download log</a>
                        </div>
                     #end
                    </div>
               </div>
             </div>
          </div>
       </div>
</body>
</html>