<div class="relative_box">
	<div id="${buildSummary.build.projectName}_profile" class="${buildSummary.getCssClassName()} build_profile build_profile_${buildSummary.getCssClassName()}">
		<div class="control_panel">
		    <a id="${buildSummary.build.projectName}_forcebuild" onclick='$onforcebuild'><img src="$req.getContextPath()/images/icon-force-build.gif" alt="Force build" title="Force build" width="20" height="20" /></a>
		    <a onclick="display_toolkit('toolkit_${buildSummary.build.projectName}', event)"><img src="$req.getContextPath()/images/icon-configure-dropdown.gif" alt="Configure project" title="Configure project" width="35" height="20" /></a>
		</div>
	   	<div class="description">
	   		<a id="${buildSummary.build.projectName}_build_detail" href="$project_name_href" class="clickable_target">
				<span class="project_name">${buildSummary.build.projectName}</span>
				<span id="${buildSummary.build.projectName}_build_date" class="no_decoration">$build_date_text</span>
			</a>
		   	<a href="$success_build_href"><img src="$req.getContextPath()/images/icon-all-successful-builds.gif" alt="Past successful builds" title="Previous successful builds"/></a><a href="$all_build_href" title="All Builds of Project ${buildSummary.build.projectName}"><img src="$req.getContextPath()/images/icon-view-all-builds.gif"/></a>
	   	</div>
	   	<div class="timer">
		   	<span id="${buildSummary.build.projectName}_time_elapsed_lable"></span>
			<span id="${buildSummary.build.projectName}_time_elapsed"></span>
			<span id="${buildSummary.build.projectName}_time_remaining_lable"></span>
			<span id="${buildSummary.build.projectName}_time_remaining"></span>
	   	</div>
	</div>
	<div id="toolkit_${buildSummary.build.projectName}" style="display:none;">
		<div class="toolkit_panel">
			<div class="toolkit_entry">
				<span class="title">${buildSummary.build.projectName}</span>
				<span class="close" onclick="close_toolkit('toolkit_${buildSummary.build.projectName}', event)">X</span>
				<span class="clear"></span>
			</div>
			<div class="clear"></div>
	   		<div class="toolkit_entry">
				<a href="$req.getContextPath()/rss.xml?projectName=${buildSummary.build.projectName}"><img src="$req.getContextPath()/images/rssicon_small.png" alt="Rss Feed" title="Rss Feed"/> RSS</a>
			</div>
			<div class="toolkit_entry">
				<a href="$req.getContextPath()/admin/mx4j/${buildSummary.build.projectName}"><img src="$req.getContextPath()/images/icon-configure-panel.gif" alt="JMX Console" title="JMX Console"/> JMX Console</a>
			</div>
		</div>
	</div>
</div>
