<?xml version="1.0" encoding="UTF-8"?>
<!--
/********************************************************************************
 * CruiseControl, a Continuous Integration Toolkit
 * Copyright (c) 2007, ThoughtWorks, Inc.
 * 200 E. Randolph, 25th Floor
 * Chicago, IL 60601 USA
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 *
 *     + Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *
 *     + Redistributions in binary form must reproduce the above
 *       copyright notice, this list of conditions and the following
 *       disclaimer in the documentation and/or other materials provided
 *       with the distribution.
 *
 *     + Neither the name of ThoughtWorks, Inc., CruiseControl, nor the
 *       names of its contributors may be used to endorse or promote
 *       products derived from this software without specific prior
 *       written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE REGENTS OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
 * EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
 * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
 * PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
 * LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 * NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 ********************************************************************************/
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd" >
    
    <import resource="propertyConfigurer.xml"/>

    <bean id="configuration" class="net.sourceforge.cruisecontrol.dashboard.service.ConfigurationService">
        <constructor-arg ref="envService"/>
        <constructor-arg ref="dashboardXmlConfigService"/>
        <constructor-arg ref="${buildloop.query.service.impl}"/>
    </bean>

    <bean id="cruiseRuntime" class="net.sourceforge.cruisecontrol.util.CruiseRuntime"/>
    <bean id="oSEnvironment" class="net.sourceforge.cruisecontrol.util.OSEnvironment"/>

    <bean id="jmxConnectorFactory" class="net.sourceforge.cruisecontrol.dashboard.service.JMXConnectorFactory"/>

    <bean id="buildService" class="net.sourceforge.cruisecontrol.dashboard.service.BuildService">
		<constructor-arg ref="configuration"/>
        <constructor-arg ref="${buildloop.query.service.impl}"/>
    </bean>

    <bean id="buildInfoRepository" class="net.sourceforge.cruisecontrol.dashboard.repository.BuildInformationRepositoryInMemoImpl"/>
    <bean id="buildInfoHelper" class="net.sourceforge.cruisecontrol.util.BuildInformationHelper"/>

    <bean id="buildLoopQueryService" class="net.sourceforge.cruisecontrol.dashboard.service.BuildLoopQueryService">
		<constructor-arg ref="envService"/>
        <constructor-arg ref="buildInfoRepository"/>
    </bean>

    <bean id="templateRenderService" class="net.sourceforge.cruisecontrol.dashboard.service.TemplateRenderService"/>

    <bean id="historicalBuildSummariesService" class="net.sourceforge.cruisecontrol.dashboard.service.HistoricalBuildSummariesService">
        <constructor-arg ref="configuration"/>
        <constructor-arg ref="buildSummaryService"/>
    </bean>

    <bean id="latestBuildSummariesService" class="net.sourceforge.cruisecontrol.dashboard.service.LatestBuildSummariesService">
		<constructor-arg ref="historicalBuildSummariesService"/>
		<constructor-arg ref="${buildloop.query.service.impl}"/>
	</bean>

	<bean id="buildSummaryUIService" class="net.sourceforge.cruisecontrol.dashboard.service.BuildSummaryUIService">
		<constructor-arg ref="historicalBuildSummariesService"/>
		<constructor-arg ref="dashboardXmlConfigService"/>
	</bean>

	<bean id="buildSummaryService" class="net.sourceforge.cruisecontrol.dashboard.service.BuildSummaryService"/>

	<bean id="envService" class="net.sourceforge.cruisecontrol.dashboard.service.EnvironmentService">
        <constructor-arg>
        	<list>
        		<bean class="net.sourceforge.cruisecontrol.dashboard.service.SystemPropertyConfigService">
        				<constructor-arg ref="systemService"/>
        		</bean>
        		<ref bean="dashboardXmlConfigService"/>
        		<bean class="net.sourceforge.cruisecontrol.dashboard.service.ServletContextConfigService"></bean>
        		<bean class="net.sourceforge.cruisecontrol.dashboard.service.DefaultDashboardConfigService"></bean>
        	</list>
        </constructor-arg>
	</bean>
	<bean id="dashboardXmlConfigService" class="net.sourceforge.cruisecontrol.dashboard.service.DashboardXmlConfigService">
        <constructor-arg>
            <bean class="net.sourceforge.cruisecontrol.dashboard.service.DashboardConfigFileFactory">
                <constructor-arg ref="systemService"/>
            </bean>
        </constructor-arg>
    </bean>

	<bean id="systemService" class="net.sourceforge.cruisecontrol.dashboard.service.SystemService"/>

	<bean id="widgetPluginService" class="net.sourceforge.cruisecontrol.dashboard.service.WidgetPluginService">
		<constructor-arg ref="dashboardXmlConfigService"/>
	</bean>
	
	<bean id="jmxConnectionCacheService" class="net.sourceforge.cruisecontrol.dashboard.service.JmxConnectionCacheService">
        <constructor-arg ref="buildInfoRepository"/>
	</bean>

    <aop:config>
        <aop:aspect ref="jmxConnectionCacheService">

            <aop:around
                pointcut="execution(* net.sourceforge.cruisecontrol.dashboard.repository.BuildInformationRepository.getJMXConnection(String)) and args(projectName)"
                method="getJMXConnection" />

        </aop:aspect>
    </aop:config>

</beans>
