<?xml version="1.0" encoding="UTF-8"?>
<!--
/********************************************************************************
 * CruiseControl, a Continuous Integration Toolkit
 * Copyright (c) 2007, ThoughtWorks, Inc.
 * 200 E. Randolph, 25th Floor
 * Chicago, IL 60601 USA
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 *
 *     + Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *
 *     + Redistributions in binary form must reproduce the above
 *       copyright notice, this list of conditions and the following
 *       disclaimer in the documentation and/or other materials provided
 *       with the distribution.
 *
 *     + Neither the name of ThoughtWorks, Inc., CruiseControl, nor the
 *       names of its contributors may be used to endorse or promote
 *       products derived from this software without specific prior
 *       written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE REGENTS OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
 * EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
 * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
 * PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
 * LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 * NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 ********************************************************************************/
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd" >

    <import resource="propertyConfigurer.xml"/>
    
    <bean id="interceptorInjector"
    	class="net.sourceforge.cruisecontrol.dashboard.tabs.InterceptorInjector">
    	<property name="interceptors">
    		<list>
                <ref bean="configInterceptor" />
                <ref bean="tabInterceptor" />
    			<ref bean="serverNameInterceptor" />
                <ref bean="contentTypeInterceptor" />
    			<ref bean="flashMessageInterceptor" />
    		</list>
    	</property>
    </bean>
    
    <aop:config>
        <aop:aspect ref="interceptorInjector">

            <aop:around
                pointcut="execution(* org.springframework.web.servlet.HandlerMapping.getHandler(..))"
                method="mergeInterceptorsToTabs" />

        </aop:aspect>
    </aop:config>

    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/listener">${buildloop.controller.impl}</prop>
            </props>
        </property>
    </bean>
    

    <bean class="net.sourceforge.cruisecontrol.dashboard.tabs.TabContainer"/>

    <!-- Interceptors -->
    <bean id="tabInterceptor" class="net.sourceforge.cruisecontrol.dashboard.tabs.TabInterceptor" autowire="autodetect"/>
    <bean id="serverNameInterceptor" class="net.sourceforge.cruisecontrol.dashboard.web.ServerNameInterceptor" />
    <bean id="contentTypeInterceptor" class="net.sourceforge.cruisecontrol.dashboard.web.PageContentTypeInterceptor" />
    <bean id="flashMessageInterceptor" class="net.sourceforge.cruisecontrol.dashboard.web.FlashMessageInterceptor" />
    <bean id="configInterceptor" class="net.sourceforge.cruisecontrol.dashboard.web.ConfigInterceptor">
        <constructor-arg ref="configuration" />
    </bean>

    <bean id="velocityConfig"
          class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/vm" />
    </bean>

    <bean id="velocityViewResolver"
          class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
        <property name="cache" value="true" />
        <property name="prefix" value="" />
        <property name="suffix" value=".vm" />
        <property name="exposeSpringMacroHelpers" value="true" />
        <property name="requestContextAttribute" value="req"/>
        <property name="order" value="2" />
        <property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml" />
    </bean>

    <bean id="beanNameViewResolver"
          class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <property name="order" value="1" />
    </bean>
    
    
    <bean id="buildLoopController" class="net.sourceforge.cruisecontrol.dashboard.web.BuildLoopController">
        <constructor-arg ref="buildInfoHelper"/>
        <constructor-arg ref="buildInfoRepository"/>
        <property name="supportedMethods" value="POST" />
    </bean>
    

    <import resource="tabs/dashboard-tab.xml"/>
    <import resource="tabs/builds-tab.xml"/>

</beans>
