<?xml version="1.0" encoding="UTF-8"?>
<!--
/********************************************************************************
 * CruiseControl, a Continuous Integration Toolkit
 * Copyright (c) 2007, ThoughtWorks, Inc.
 * 200 E. Randolph, 25th Floor
 * Chicago, IL 60601 USA
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 *
 *     + Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *
 *     + Redistributions in binary form must reproduce the above
 *       copyright notice, this list of conditions and the following
 *       disclaimer in the documentation and/or other materials provided
 *       with the distribution.
 *
 *     + Neither the name of ThoughtWorks, Inc., CruiseControl, nor the
 *       names of its contributors may be used to endorse or promote
 *       products derived from this software without specific prior
 *       written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE REGENTS OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
 * EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
 * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
 * PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
 * LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 * NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 ********************************************************************************/
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <import resource="propertyConfigurer.xml"/>

    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="contentTypeInterceptor"/>
				<ref bean="configInterceptor" />
				<ref bean="flashMessageInterceptor" />
				<ref bean="tabHighlightInterceptor" />
				<ref bean="serverNameInterceptor" />
			</list>
		</property>
		<property name="mappings">
			<props>
				<!--main/default page-->
				<prop key="*">latestBuildsListingController</prop>
				<!--build category-->
				<prop key="/download/**">downloadController</prop>
				<prop key="/detail/**">buildDetailController</prop>
				<!--project category-->
				<prop key="/list/**">buildListingController</prop>
				<!--admin category-->
				<prop key="/mx4j/**">mbeanConsoleController</prop>
				<prop key="/config/update">updateConfigXmlContentController</prop>
				<prop key="/config/setup">updateConfigXmlLocationController</prop>
				<prop key="/config">adminController</prop>
				<prop key="/action/add">addProjectController</prop>
			</props>
		</property>
	</bean>

    <!-- Interceptors -->
    <bean id="contentTypeInterceptor" class="net.sourceforge.cruisecontrol.dashboard.web.PageContentTypeInterceptor" />
    <bean id="flashMessageInterceptor" class="net.sourceforge.cruisecontrol.dashboard.web.FlashMessageInterceptor" />
    <bean id="serverNameInterceptor" class="net.sourceforge.cruisecontrol.dashboard.web.ServerNameInterceptor" />
	<bean id="configInterceptor" class="net.sourceforge.cruisecontrol.dashboard.web.ConfigInterceptor">
		<constructor-arg ref="configuration" />
	</bean>
	<bean id="tabHighlightInterceptor" class="net.sourceforge.cruisecontrol.dashboard.web.TabHighlightInterceptor" />


    <!-- Controllers -->
	<bean id="adminController" class="net.sourceforge.cruisecontrol.dashboard.web.AdminController">
        <constructor-arg ref="configuration"/>
		<constructor-arg ref="envService"/>
	</bean>
	<bean id="updateConfigXmlContentController" class="net.sourceforge.cruisecontrol.dashboard.web.UpdateConfigXmlContentController">
		<constructor-arg ref="configuration" />
		<constructor-arg ref="envService" />
	</bean>
	<bean id="updateConfigXmlLocationController" class="net.sourceforge.cruisecontrol.dashboard.web.UpdateConfigXmlLocationController">
		<constructor-arg ref="configuration" />
		<constructor-arg ref="envService" />
	</bean>
	<bean id="addProjectController" class="net.sourceforge.cruisecontrol.dashboard.web.AddProjectController"/>
	<bean id="latestBuildsListingController" class="net.sourceforge.cruisecontrol.dashboard.web.LatestBuildsListingController">
		<constructor-arg ref="buildSummariesService" />
		<constructor-arg ref="buildSummaryUIService" />
		<constructor-arg ref="envService"/>
	</bean>
	<bean id="buildListingController" class="net.sourceforge.cruisecontrol.dashboard.web.BuildListingController">
		<constructor-arg ref="buildSummariesService" />
		<constructor-arg ref="buildSummaryUIService" />
	    <property name="methodNameResolver" ref="buildListingResolver"/>
	</bean>
	<bean id="buildListingResolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		  <property name="mappings">
			    <value>
			    	/list/passed/*=passed
			        /list/all/*=all
			    </value>
		  </property>
	</bean>
	<bean id="buildDetailController" class="net.sourceforge.cruisecontrol.dashboard.web.BuildDetailController">
		<constructor-arg ref="buildService"/>
		<constructor-arg ref="buildSummariesService"/>
		<constructor-arg ref="widgetPluginService"/>
		<constructor-arg ref="buildSummaryUIService"/>
		<constructor-arg ref="${cruise.jmx.service.imp}"/>
	    <property name="methodNameResolver" ref="projectDetailResolver"/>
	</bean>
	<bean id="projectDetailResolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		  <property name="mappings">
			    <value>
			    	/detail/*=latest
			        /detail/*/*=history
			        /detail/live/*=live
			    </value>
		  </property>
	</bean>


	<bean id="downloadResolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		  <property name="mappings">
			    <value>
			    	/download/log/**=log
			        /download/artifacts/**=artifacts
			    </value>
		  </property>
	</bean>

	<bean id="downloadController" class="net.sourceforge.cruisecontrol.dashboard.web.DownloadController">
		<constructor-arg ref="configuration" />
	    <property name="methodNameResolver" ref="downloadResolver"/>
	</bean>

	<bean id="mbeanConsoleController" class="net.sourceforge.cruisecontrol.dashboard.web.MBeanConsoleController">
		<constructor-arg ref="envService" />
	    <property name="methodNameResolver" ref="mx4jResolver"/>
	</bean>
	<bean id="mx4jResolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		  <property name="mappings">
			    <value>
			    	/mx4j=server
			        /mx4j/*=mbean
			    </value>
		  </property>
	</bean>
    <!-- Views and resolvers -->
    <bean id="velocityConfig"
          class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/vm" />
    </bean>

    <bean id="velocityViewResolver"
          class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<property name="cache" value="true" />
		<property name="prefix" value="" />
		<property name="suffix" value=".vm" />
		<property name="exposeSpringMacroHelpers" value="true" />
		<property name="requestContextAttribute" value="req"/>
		<property name="order" value="2" />
		<property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml" />
	</bean>

	<bean id="beanNameViewResolver"
          class="org.springframework.web.servlet.view.BeanNameViewResolver">
		<property name="order" value="1" />
	</bean>
	<bean id="fileView" class="net.sourceforge.cruisecontrol.dashboard.web.view.FileView"/>

	<bean id="directoryView" class="net.sourceforge.cruisecontrol.dashboard.web.view.DirectoryView">
		<constructor-arg ref="templateRenderService"/>
	</bean>
</beans>
