<div class="relative_box">
    <div id="${buildSummary.build.projectName}_profile" class="${buildSummary.getCssClassName()} build_profile build_profile_${buildSummary.getCssClassName()}">
        <div class="control_panel">
        	#if ($forceBuildEnabled)
	            <a id="${buildSummary.build.projectName}_forcebuild" onclick='$onforcebuild' class="force_build_link"><img src="$req.getContextPath()/images/icon-force-build.gif" alt="Force build" title="Force build" width="20" height="20" /></a>
        	#else
	            <a id="${buildSummary.build.projectName}_forcebuild" class="force_build_link"><img src="$req.getContextPath()/images/icon-force-build-grey.gif" alt="Force build (disabled)" title="Force build" width="20" height="20" /></a>
        	#end
            <a id="${buildSummary.build.projectName}_config_panel" onclick='$onConfigPanel'><img src="$req.getContextPath()/images/icon-configure-dropdown.gif" alt="Configure project" title="Configure project" width="35" height="20" /></a>
        </div>
           <div class="description">
               <a id="${buildSummary.build.projectName}_build_detail" href="$project_name_href" class="clickable_target">
                <span class="project_name">${buildSummary.build.projectName}</span>
                <span id="${buildSummary.build.projectName}_build_date" class="no_decoration">$build_date_text</span>
               </a>
               <a id="${buildSummary.build.projectName}_all_builds" href="$all_build_href">
                   <img src="$req.getContextPath()/images/icon-view-all-builds.gif"  alt="All builds" title="All builds"/>
               </a>
               <a id="${buildSummary.build.projectName}_all_successful_builds" href="$success_build_href">
                   <img src="$req.getContextPath()/images/icon-all-successful-builds.gif" alt="All successful builds" title="All successful builds"/>
               </a>
           </div>
           <div class="timer">
            <span id="${buildSummary.build.projectName}_time_elapsed_lable"></span>
            <span id="${buildSummary.build.projectName}_time_elapsed"></span>
            <span id="${buildSummary.build.projectName}_time_remaining_lable"></span>
            <span id="${buildSummary.build.projectName}_time_remaining"></span>
           </div>
    </div>
    <div id="toolkit_${buildSummary.build.projectName}" style="display:none;">
        <div class="toolkit_panel">
            <div class="toolkit_entry">
                <span class="title">${buildSummary.build.projectName}</span>
                <span class="close" onclick="close_toolkit('toolkit_${buildSummary.build.projectName}', event)">X</span>
                <span class="clear"></span>
            </div>
            <div class="clear"></div>
               <div class="toolkit_entry">
                <a href="$req.getContextPath()/rss.xml?projectName=${buildSummary.build.projectName}" class="toolkit_rss">RSS</a>
            </div>
            <div class="toolkit_entry">
                <a href="$req.getContextPath()/admin/mx4j/${buildSummary.build.projectName}" class="toolkit_jmx">JMX Console</a>
            </div>
        </div>
    </div>
</div>
