<div id="${buildCmd.build.projectName}_project_container">
    <div id="${buildCmd.build.projectName}_profile" class="build_profile">
        <div class="control_panel">
            <a id="${buildCmd.build.projectName}_forcebuild" class="force_build_link"></a>
            <a id="${buildCmd.build.projectName}_config_panel" class="config_panel_link"></a>
        </div>
        <div class="description">
               <a id="${buildCmd.build.projectName}_build_detail" href="$project_name_href" class="clickable_target">
                <span class="project_name">${buildCmd.build.projectName}</span>
                <span id="${buildCmd.build.projectName}_previous_result_text">
                  #if($previous_result_text.toLowerCase()!="unknown")
                    $previous_result_text
                  #end  
                </span>
                <span id="${buildCmd.build.projectName}_build_date" class="no_decoration">$build_date_text</span>
               </a>
               <a id="${buildCmd.build.projectName}_all_successful_builds" class="all_successful_builds_link"></a>
               <a id="${buildCmd.build.projectName}_all_builds" class="all_builds_link"></a>
        </div>
        <div class="clear"></div>
        <div id="${buildCmd.build.projectName}_timer_area" class="timer_area" style="display:none;">
              <!--IE6/7 has the bug, it needs at least one space to make word-spacing take effect.-->
              <span id="${buildCmd.build.projectName}_time_elapsed_lable">&nbsp;</span>
              <span id="${buildCmd.build.projectName}_time_elapsed">&nbsp;</span>
              <span id="${buildCmd.build.projectName}_time_remaining_lable">&nbsp;</span>
              <span id="${buildCmd.build.projectName}_time_remaining">&nbsp;</span>
        </div>
    </div>
    <script type="text/javascript">
    	json_to_css.update_profile(eval(${buildCmd.toJsonString()}));
 		json_to_css.update_config_panel(eval(${buildCmd.toJsonString()}));
 		json_to_css.update_force_build(eval(${buildCmd.toJsonString()}));
    </script>
    #set($projectName = $buildCmd.build.projectName)
	#parse("partial/partial_toolkit.vm")
</div>