
.link { font-family:arial,helvetica,sans-serif; font-size:10pt; color:#FFFFFF; text-decoration:none; }

.header-title { font-family:arial,helvetica,sans-serif; font-size:12pt; color:#000000; font-weight:bold; }
.header-label { font-weight:bold; }
.header-data { font-family:arial,helvetica,sans-serif; font-size:10pt; color:#000000; }

.modifications-data { font-family:arial,helvetica,sans-serif; font-size:8pt; color:#000000; }
.modifications-sectionheader { background-color:#000066; font-family:arial,helvetica,sans-serif; font-size:10pt; color:#FFFFFF; }
.modifications-oddrow { background-color:#CCCCCC }
.modifications-evenrow { background-color:#FFFFCC }

.changelists-oddrow { background-color:#CCCCCC }
.changelists-evenrow { background-color:#FFFFCC }
.changelists-file-spacer { background-color:#FFFFFF }
.changelists-file-evenrow { background-color:#EEEEEE }
.changelists-file-oddrow { background-color:#FFFFEE }
.changelists-file-header { background-color:#666666; font-family:arial,helvetica,sans-serif; font-size:8pt; color:#FFFFFF; }

.compile-data { font-family:arial,helvetica,sans-serif; font-size:8pt; color:#000000; }
.compile-sectionheader { background-color:#000066; font-family:arial,helvetica,sans-serif; font-size:10pt; color:#FFFFFF; }

.distributables-data { font-family:arial,helvetica,sans-serif; font-size:8pt; color:#000000; }
.distributables-sectionheader { background-color:#000066; font-family:arial,helvetica,sans-serif; font-size:10pt; color:#FFFFFF; }
.distributables-oddrow { background-color:#CCCCCC }
