<div id="tests" $tests_extra_attrs>
    <div class="testsuite">
		<h2>Test Suites</h2>
	    <ul>
	        #if( $build.build.testSuites.size() == 0)
	            <p>No test cases found.</p>
	        #end
	        #foreach ($testSuite in $build.build.testSuites)
		        <li>
		            $testSuite.name <br/>
		            Tests: $testSuite.numberOfTests, Failures: $testSuite.numberOfFailures, Errors:
		            $testSuite.numberOfErrors, Duration: $testSuite.durationInSeconds
		        </li>
	        #end
	    </ul>
	</div>

    #if ($build.build.numberOfErrors > 0)
	    <div class="errors">
	         <h2>Test Errors</h2>
	         #foreach ($suite in $build.build.testSuites)
	            #if ($suite.numberOfErrors > 0)
	                <div id="error_${suite.name}" name="error_${suite.name}">
	                    <h3>$suite.name</h3>
	                    <ul>
	                        #foreach ($erroredTest in $suite.errorTestCases)
	                                <div id="error_${erroredTest.name}" name="error_${erroredTest.name}">
	                                 <li>TestName: $erroredTest.name Duration: $erroredTest.duration
	                                     <pre>
	                                         <b id="${erroredTest.name}_error_msg">$erroredTest.message</b>
	                                        <br>
	                                        <div id="${erroredTest.name}_error_msgbody">$erroredTest.messageBody</div>
	                                      </pre>
	                                 </li>
	                            </div>
	                        #end
	                    </ul>
	                </div>
	            #end
	         #end
	    </div>
	#end
    
	#if ($build.build.numberOfFailures > 0)
	    <div class="failures">
	        <h2>Test Failures</h2>
	        #foreach ($suite in $build.build.testSuites)
	            #if ($suite.numberOfFailures > 0)
	                <div id="failed_${suite.name}" name="failed_${suite.name}">
	                <h3>$suite.name</h3>
	                <ul>
	                #foreach ($failingTest in $suite.failingTestCases)
	                <div id="failed_${failingTest.name}" name="failed_${failingTest.name}">
	                    <li>TestName: $failingTest.name  Duration: $failingTest.duration
	                    <pre>
	                        <b id="${failingTest.name}_failed_msg">$failingTest.message</b>
	                        <br>
	                        <div id="${failingTest.name}_failed_msgbody">$failingTest.messageBody</div>
	                    </pre>
	                    </li>
	                </div>
	                #end
	                </ul>
	            </div>
	        #end
	    #end
	    </div>
	#end


</div> 
  