<div id="tests" class="widget" $tests_extra_attrs>

	<div>
        <span id="expand_all" onclick="expand_all()">Expand All</span>
        <span id="collapse_all" onclick="collapse_all()">Collapse All</span>
    </div>

    <div>
        <h2 class="collapsible_title title_message_collapsed">Test Suites ($buildCmd.build.testSuites.size())</h2>
        #if( $buildCmd.build.testSuites.size() == 0)
            <p>No test cases found.</p>
        #end
        <div id="test_suites" class="collapsible_content" style="display:none;">
            <ul>
                #foreach ($testSuite in $buildCmd.build.testSuites)
                    <li>
                        $testSuite.name <br/>
                        Tests: $testSuite.numberOfTests, Failures: $testSuite.numberOfFailures, Errors:
                        $testSuite.numberOfErrors, Duration: $testSuite.durationInSeconds
                    </li>
                #end
            </ul>
        </div>
    </div>
    #if ($buildCmd.build.numberOfErrors > 0)
        <hr/>
        <br/>
        <h2>Test Errors ($buildCmd.build.numberOfErrors)</h2>
	    <div>
	         #foreach ($suite in $buildCmd.build.testSuites)
	            #if ($suite.numberOfErrors > 0)
                    <h3  class="collapsible_title title_message_collapsed">$suite.name ($suite.numberOfErrors)</h3>
	                <div class="collapsible_content" style="display:none;">
	                    <div>
	                        #foreach ($erroredTest in $suite.errorTestCases)
	                                <div id="error_${erroredTest.name}">
    	                                <div>TestName: $erroredTest.name Duration: $erroredTest.duration
	                                         <pre>
	                                           <b>$esc.html($erroredTest.message)</b>
                                                <br/>
	                                           <span>$esc.html($erroredTest.messageBody)</span>
	                                         </pre>
	                                    </div>
	                                </div>
	                        #end
	                    </div>
	                </div>
	            #end
	         #end
	    </div>
	#end

	#if ($buildCmd.build.numberOfFailures > 0)
    <hr/>
    <br/>
    <h2>Test Failures ($buildCmd.build.numberOfFailures)</h2>
	    <div>
	        #foreach ($suite in $buildCmd.build.testSuites)
	            #if ($suite.numberOfFailures > 0)
                <h3  class="collapsible_title title_message_collapsed">$suite.name ($suite.numberOfFailures)</h3>
                    <div class="collapsible_content" style="display:none;"><div>
	                #foreach ($failingTest in $suite.failingTestCases)
	                <div >
	                    <div>TestName: $failingTest.name  Duration: $failingTest.duration
                            <pre>
                                <b>$esc.html($failingTest.message)</b>
                                <br/>
                                <span>$esc.html($failingTest.messageBody)</span>
                            </pre>
	                    </div>
	                </div>
	                #end
	                </div>
	            </div>
	        #end
	    #end
	    </div>
	#end
</div>
