<div class="$build.getCssClassName()">
    <span class="page_panel"><b class="rtop"><b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b></b></span>
    <div class="build_detail_summary">
        <h3>$build.build.getProjectName() $build.build.status</h3>
        <ul class="summary">
            <li><strong>Build Time:</strong> $build.dateStringInHumanBeingReadingStyle</li>
            <li><strong>Duration:</strong> $build.duration</li>
            <li><strong>Last successful build:</strong> $durationToSuccessfulBuild</li>
        </ul>
        <div class="clear">&nbsp;</div>
    </div>
    <span class="page_panel"><b class="rbottom"><b class="r4"></b> <b class="r3"></b> <b class="r2"></b> <b class="r1"></b></b></span>
</div>

<div class="build_detail_container">
    
    <div class="build_detail_container_menu">
        <ul>
        	<li class="current_tab" onclick='build_detail_toggle_tab_content(this)'><a><span>Tests</span></a></li>
            <li onclick='build_detail_toggle_tab_content(this)'><a><span>Modifications</span></a></li>
            <li onclick='build_detail_toggle_tab_content(this)'><a><span>Build Log</span></a></li>
            <li onclick='build_detail_toggle_tab_content(this)'><a><span>Artifacts</span></a></li>
            #parse('build_detail/build_detail_partial_widgets_tab.vm')
        </ul>
    </div>
    
    <div class="build_detail_container_content">    
        #set($tests_extra_attrs="")
        #parse("build_detail/build_detail_partial_tests.vm")

        #set($modification_extra_attrs="style='display:none'")
        #parse("build_detail/build_detail_partial_modification.vm")

        #set($log_extra_attrs="style='display:none'")
        #parse("build_detail/build_detail_partial_log.vm")

        #set($artifacts_extra_attrs="style='display:none'")
        #parse("build_detail/build_detail_partial_artifacts.vm")
    
		#parse('build_detail/build_detail_partial_widgets_content.vm')
    </div>
</div>