<div id="header">
	<div id="menu">
		<div id="pageTitle">
		    Dashboard Server : $serverName
		</div>
		<div id="logo">
		   <img src="$req.getContextPath()/images/logo.gif" alt="Cruise Control" width="195" height="42"/>
		</div>
	    <ul>
				<li id="dashboard" class='dynamic_width round_top $!tabheader1_class'>
                    <a href="$req.getContextPath()/tab/dashboard"><span>Dashboard</span></a>
                </li>
                <li id="builds" class='dynamic_width round_top $!tabheader2_class'>
                    <a href="$req.getContextPath()/tab/builds"><span>Builds</span></a>
                </li>
				<li id="administation" class="dynamic_width round_top $!tabheader3_class" style="float:right">
                    <a href="$req.getContextPath()/admin/config" ><span>Administration</span></a>
                </li>
	    </ul>
	</div>
	<div id="menu_bottom">
	</div>
</div>
<div id="content">
